.hero-section {
  height: 90vh;
  background: url("../images/bg.png") no-repeat center center/cover;
  position: relative;
}

/* dark overlay for better text visibility */
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-section > div {
  position: relative;
  z-index: 2;
}
